<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/event-calendar.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/import-cal.css') }}">
    <script src="{{ url_for('static', filename='js/event-calendar.min.js') }}"></script>
    <title>On-Call Scheduler</title>

    <style>
        .ec-timeline .ec-time,
        .ec-timeline .ec-line {
            width: 80px;
        }
    </style>
</head>

<body>
    
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index') }}">On-Call Scheduler</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('create_group') }}">Create User Group</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('create_schedule') }}">Create Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('create_user') }}">Custom User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('modify_user') }}">Edit Assignees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('create_template') }}">Create Schedule Template</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_templates') }}">View Schedule Templates</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('import_schedule') }}">Import Schedule</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>

    <!-- Include JS scripts at the bottom for faster page loading -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</body>

</html>