{% extends "base.html" %}

{% block content %}
<h1>View Schedule</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time Segment</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        {% for schedule in schedules %}
        <tr>
            <td>{{ schedule.date }}</td>
            <td>{{ schedule.time_segment }}</td>
            <td>{{ schedule.user.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('create_schedule') }}" class="btn btn-primary">Create New Schedule</a>
{% endblock %}